build/
bin/
Data/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/
Thirdparty/g2o/lib/
Fourthparty/rospkgs/devel/
Fourthparty/rospkgs/build/
*Make*
cmake*
catkin_generated/
KeyFrameTrajectory.txt

!Data/*.yaml
!CMakeLists.txt
